@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: rgb(53, 36, 204);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  color: whitesmoke;
  height: 84vh;
  border-radius: 24px;
  margin: 4px;
  cursor: pointer;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 644ms ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 30;
  bottom: 8%;
  left: 10%;
  margin: 0;
  opacity: 0;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.5s ease-in 0.6s;
}